* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/hero-image-github-profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #20293A;
    width: 100%;
    height: 300px;
    font-family: 'Poppins', sans-serif;
}

.app {
    margin: 20px 120px 0 120px;
}

.error {
    color: #ff4d4d;
    margin-top: 20px;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar .search-container {
    width: 20%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #20293A;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-container .icon {
    width: 20px;

}

.search-container .search-input {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
}

/* profile */

.profile {
    margin-top: 220px;
}

.user-header {
    display: flex;
    gap: 40px;
}

.user-header .avatar {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 10px solid #20293A;
}

.user-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;
}


.user-info .items {
    background-color: #111729;
    padding: 15px 20px;
    border-radius: 10px;
    color: #CDD5E0;
    font-size: 15px;
    margin-bottom: 10px;

}

.user-info .items b {
    margin-left: 10px;
    padding-left: 15px;
    color: #CDD5E0;
    border-left: 1px solid;
}

.user-bio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    color: #CDD5E0;

}

/* repos */
.repos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 30px;
    align-items: start;
    padding: 0 40px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.repo-card {
    background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
    border-radius: 15px;
    padding: 15px;
    color: #CDD5E0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    gap: 10px;
}

.repo-card p{
    color: #93a0b3;
}

.repo-info {
    display: flex;
    align-items: center;
    color: #93a0b3;
}

.repo-info img {
    width: 30px;
}

.repo-info span {
    padding-right: 30px;
}


.error {
    color: #ff4d4d;
    margin-top: 20px;
    text-align: center;
}




@media (max-width: 768px) {
    body {
        height: 150px;
    }

    .app {
        margin: 20px 20px 0 20px;
    }

    .search-bar .search-container {
        width: 100%;
    }

    .profile {
        margin-top: 70px;
    }

    .user-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .user-info {
        display: flex;
        gap: 5px;
    }

    .repos {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .repo-info span {
    padding-right: 10px;
}
}